{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "PROFILE_SERVICE_URL": "https://httpbin.org/anything/profile",
    "ORDERS_SERVICE_URL": "https://httpbin.org/anything/orders",
    "RECOMMENDATIONS_SERVICE_URL": "https://httpbin.org/uuid",
    "BACKEND_TIMEOUT_SECONDS": "5"
  }
}
